/* fonts */

:root {
  --logo-brand-color: #2196f3;
  --logo-positive-color: #000;
  --logo-negative-color: #fff;
  --grey: #757575;
  --black: #212121;
  --white: #fff;
  --background-brand-color: #2f303a;
  --background-button-color: #f5f4fa;
  --background-btn-color: #f5f4fa;
}

body {
  background-color: var(--white);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--grey);
}

/* Знімаю стилізацію з <a> */
.link-decor {
  text-decoration: none;
}

.menu-link.current {
  color: var(--logo-brand-color);
}
/* color logo*/
/* header */
/* logo */
.logo,
.logo-positive,
.logo-negative {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-brand-color);
  text-decoration: none;
}

.logo-positive {
  color: var(--logo-positive-color);
}

.logo-negative {
  color: var(--logo-negative-color);
}

.menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black);
}

.contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
}

/* стилизация nav-box на действия */
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--logo-brand-color);
}

.menu-link-action:visited {
  color: var(--black);
}

/* Main content */
.main-content {
  background-color: var(--background-brand-color);
}

.main-content-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.order-button {
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--logo-brand-color);
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--black);
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--black);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey);
}

/* Our Team */
.section-team {
  background-color: var(--background-btn-color);
}

.employee-item {
  background-color: white;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--black);
}

.employee-posiition {
  font-size: 16px;
  line-height: 1.18;
  color: var(--grey);
}

/* footer */
.footer {
  background-color: var(--background-brand-color);
}

.footer-contacts {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-address {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
}

.footer-contacts:hover,
.footer-contacts:focus,
.footer-contacts-address:hover,
.footer-contacts-address:focus {
  color: var(--logo-brand-color);
}

/* Portfolio styles (main) */

/* кнопки */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--black);
  background-color: var(--background-button-color);
  cursor: pointer;
}

.filter-button:focus,
.filter-button:hover {
  color: var(--white);
  background-color: var(--logo-brand-color);
}

/* образцы работ */
.samples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
}

.samples-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--grey);
}
